.hero {
  background-color: #2f70fe;
  text-align: center;
  padding-top: 114px;
  color: #ffffff;

  &__title {
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 7px;
    font-weight: 400;
    padding: 0 50px;

    @media (max-width: 768px) {
      font-size: 35px;
      line-height: 45px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 33px;
  }

  &__button {
    padding: 10px 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    background: #000000;
  }
}
